<div style="width: 400px; margin: auto;">
  <div *ngIf="currentUser" class="edit-form">
    <h4>User</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="currentUser.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          class="form-control"
          id="lastName"
          required
          [(ngModel)]="currentUser.lastName"
          name="lastName"
        />
      </div>

      <div class="form-group">
        <label for="email">email</label>
        <input
          class="form-control"
          id="email"
          required
          [(ngModel)]="currentUser.email"
          name="email"
        />
      </div>

    </form>


    <button class="badge badge-danger mr-2" (click)="delete()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success"
      (click)="update()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentUser">
    <br />
    <p>Cannot access this User...</p>
  </div>
</div>
