<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">DevOps</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="users" class="nav-link">Users</a>
      </li>
      <li class="nav-item">
        <a routerLink="new" class="nav-link">Add</a>
      </li>
    </div>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>

