<div class="list row">
  <div class="col-md-6">
    <h4>Users List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let user of users; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveUser(user, i)"
      >
        {{ user.name }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentUser">
      <h4>User</h4>
      <div>
        <label><strong>Nome:</strong></label> {{ currentUser.name }} {{ currentUser.lastName }}
      </div>
      <div>
        <label><strong>Email:</strong></label>
        {{ currentUser.email }}
      </div>

      <a class="btn btn-primary" routerLink="/user/{{ currentUser.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentUser">
      <br />
      <p>Please click on a User...</p>
    </div>
  </div>
</div>
